.experiences-section {
  background-color: #ffffff; /* White background for the entire section */
  color: #333; /* Text color adjusted for readability */
  padding: 50px 0; /* Top and bottom padding */
  width: 100%; /* Ensure the section takes full width */
}

.experiences-header h2 {
  color: #42446e;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 70px;
}

.experience-item {
  background-color: #ffffff; /* White background for each card */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
}
.experience-item:last-child {
  margin-bottom: 0; /* No margin on the last item */
}

.experience-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.experience-title h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.experience-type span {
  font-size: 1rem;
  font-weight: bold;
  background-color: #38b6ff;
  padding: 5px 10px;
  border-radius: 5px;
}

.company-location,
.experience-duration {
  display: flex;
  align-items: center;
}

.company-location p,
.experience-duration p {
  font-size: 0.9rem;
  margin: 0 10px;
}

.experience-icon {
  font-size: 1rem;
  color: #38b6ff; /* Icon color */
}

.company-location p {
  display: inline-block;
}

.experience-duration p {
  display: inline-block;
}

/* Long line separator below each experience item */
.experience-separator {
  border-top: 2px solid #e0e0e0; /* Line separator */
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; /* Ensure the separator spans the full width */
}

/* Ensure the full-width container */
.experiences-section {
  width: 100%; /* Full-width container */
  margin: 0 auto; /* Center the content */
}
