.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  background: #fff;
}
.homepage1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  width: 1080px;
  justify-content: left;
  color: #666;
  font-size: medium, 20px;
  font-family: sans-serif;
  padding-top: 50px;
}
.homepage1_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  align-items: flex-end;
  width: 100%;
}
.greeting {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  font-size: 18px;
  color: #666;
}
.name {
  font-family: sans-serif;
  font-size: 96px;
  width: 100%;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #9845e8, #33d2ff, #dd5789);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blink 0.5s step-end infinite;
}

.profile_photo {
  height: 252px;
  width: 252px;
  border-radius: 50%;
  background: linear-gradient(45deg, #9845e8, #33d2ff, #dd5789) border-box;
  border: 9px solid transparent;
  margin-bottom: 40px;
}

.homepage1_description {
  display: flex;
  justify-content: stretch;
  color: #666;
  font-size: 18px;
  font-family: sans-serif;
  text-align: justify;
}
.social_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 100px;
  width: 100%;
}
.social_button {
  width: 190px;
  height: 55px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  background: linear-gradient(45deg, #9845e8, #33d2ff, #dd5789) border-box;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.social_mediaIcons {
  background: #fff;
  width: 96%;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #1a1a1a;
  border-radius: 2px;
}

.social_icons {
  padding-right: 5px;
}
.homepage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  justify-content: left;
  color: #666;
  font-size: medium, 20px;
  font-family: sans-serif;
  padding-top: 120px;
  padding-bottom: 120px;
}
.techstack_heading1 {
  color: #42446e;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.techstack_heading3 {
  color: var(--dark-content, #666);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.techstack_icons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  padding-bottom: 50px;
  justify-content: baseline;
}

.techstack {
  width: 100%;
  height: 90px;
}

#experiences {
  background-color: #f4f4f4;
  margin: 0;
}
